font=JetBrains Mono:size=11
dpi-aware=no
terminal=kitty
prompt="Search...  "
layer=top

[colors]
background=@BG@f2
text=@TXT@ff
match=@ACC@ff
selection=@ACC@cc
selection-text=@BG@ff
selection-match=@TXT@ff
border=@ACC@66

[border]
width=1
radius=14
