inside-color=@BG@ee
ring-color=@ACC@
key-hl-color=@ACC2@
separator-color=00000000

line-color=@BG@ee
line-clear-color=@BG@cc
line-ver-color=@URG@cc
line-wrong-color=@ACC@cc

text-color=@TXT@
text-clear-color=@TXT@
text-ver-color=@TXT@
text-wrong-color=@ACC@

inside-ver-color=@BG@ee
inside-wrong-color=@ACC@88
inside-clear-color=@SURF@88

font=JetBrains Mono
